<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container">
    <br>
    <h2>Lista de usuarios registrados</h2><br>

    <!-- Tabla donde se muestran los usuarios -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            <!-- Bucle que recorre la lista "usuarios" enviada desde el controlador -->
            <tr th:each="unUsuario: ${usuarios}">
                <td th:text="${unUsuario.id}"></td>
                <td th:text="${unUsuario.usuario}"></td>
                <td th:text="${unUsuario.rol}"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>